:root {
  // 背景色
  --color-bg-primary: rgb(245, 247, 248);
  // 文本颜色
  --color-text-primary: #000;
  --color-text-secondary: #555;
  // 边框
  --border-set: 1px solid rgba(0, 0, 0, 0.3);
  // 边框阴影
  --border-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}